
    <h1 class="text-3xl text-red-300 font-bold mb-4">France Activités</h1>
    <div class="grid grid-rows-3 grid-flow-col gap-4">
        <div class="row-start-1 row-span-2  ">
           <div class="row-start-1 row-span-2">
                <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                    <h2 class="text-xl font-semibold mt-6 text-rose-500">Visites à pied:</h2>
                    <ul class="flex list-disc ml-6 space-y-2 text-gray-800">
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white "><%= image_tag "Tour.png" %> Accès prioritaire au sommet de la tour Eiffel et hôte.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "musée.png" %> Visite guidée avec accès coupe-file au musée du Louvre.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "saint3.png"%> Saint-Emillion: Visite guidée du vignoble et dégustation.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "versailles.png"%>Visite du château de Versailles avec accès coupe-file et jardins.</ol>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                    <h3 class="text-xl font-semibold mt-6 text-rose-500">Histoire et culture:</h3>
                    <ul class="flex list-disc ml-6 space-y-2 text-gray-800">
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "rochelle.png" %> Depuis La Rochelle: croisière en voilier jusqu'au Fort Boyard.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "les invalides.png" %>Les invalides: tombeau de Napoléon et musée de l'Armée.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "sacrée.png" %>Paris : Sacré-Cœur et Montmartre avec un guide chevronné.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "grv2.png" %>Musée Grévin: billet d'entrée.</ol>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                    <h4 class="text-xl font-semibold mt-6 text-rose-500">Pépites méconnues:</h4>
                    <ul class="flex list-disc ml-6 space-y-2 text-gray-800">
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "parfum.png" %>Paris : atelier de 2 h de création de parfum.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "gastro.png" %>Paris :  visite gastronomique guidée à pied à Montmartre.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "déguster.png" %>Bordeaux : classe de dégustation de vin avec un sommelier.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "aqua.png" %> Paris : billet d'entrée au parc aquatique Aquaboulevard.</ol>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                    <h6 class="text-xl font-semibold mt-6 text-rose-500">Nature et aventures:</h6>
                    <ul class="flex list-disc ml-6 space-y-2 text-gray-800">
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "ajjac2.png" %> Ajaccio ou Porticcio : croisière dans la réserve naturelle de Scandola.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "e-bike.png" %> Paris : Visite guidée de l'après-midi en E-Bike pour petits groupes.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "réalité.png" %> Paris : Les joyaux cachés de Paris en réalité virtuelle.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "emily coo.png" %> Visite de la ville "Emily Cooper" - 2 heures.</ol>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                    <h5 class="text-xl font-semibold mt-6 text-rose-500">Spectacles et comédies musicales:</h5>
                    <ul class="flex list-disc ml-6 space-y-2 text-gray-800">
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "spec1.png" %>Château de Versailles : spectacle des Grandes Eaux Nocturnes.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "moulin.png" %>Moulin Rouge : dîner spectacle.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "opéra.png" %>Paris : billets pour opéra Garnier et croisière sur la Seine.</ol>
                        </div>
                        <div class="destination-card bg-transparent p-4 shadow-md rounded-lg">
                            <ol class="text-white"> <%= image_tag "lafayette.png" %>Paris : Défilé de mode aux Galeries Lafayette Haussmann.</ol>
                        </div>
                    </ul>
                </div>
            </div>
    </div>
